<!DOCTYPE html>
<!-- 
   Auteur : Yann Sommet
   Date :   16.03.2023 / v.2.0
   Description : View pour la page d'accueil
-->

<!-- Entête de la page avec image centré-->
<div class="header">
    <img id="logo" src="img/logo.png" alt="Logo de notre entreprise">

    <button class="boutonLogin" id="login">Login</button>
</div>

<!-- Corps de la page -->
<div class="container" id="containerAccueil">
    <div class="containerTitre">
        <h1 class="titre">Lodibidon</h1>
    </div>
    <div class="containerEau" id="containerEau"></div>

    <div id='DivAjouterEau'>
        <h2>Ajouter Eau</h2>
    
        <!-- Champ pour le nom de l'eau -->
        <input id="nomAjouter" type='text' placeholder='Nom'>
    
        <!-- Champ pour la description -->
        <textarea id="descriptionAjouter" placeholder='Description'></textarea>
    
        <!-- Champ pour le fileChooser-->
        <button class="btn-file">
            Choose a file to read <input type="file" accept=".png" id="fileChooser" multiple>
        </button>

        <div id="target"></div>

        <!-- Bouton "Ajouter Eau" -->
        <button id='ajouterEau'>Ajouter Eau</button>
    </div>
</div>
