<!DOCTYPE html>
<!-- 
   Auteur : Yann Sommet
   Date :   16.06.2023 / V2.0 
   Description : View pour la page d'equipage
-->
<!-- Entête de la page avec image centré-->¨
<div class="header">
    <img id="logo2" src="img/logo.png" alt="Logo de notre entreprise">

    <img src="img/home.png" class="hommeBtn" alt="home" id="home1">
</div>
<!-- Corps de la page -->
<div class="container">
    <div class="containerTitre" id="titreEau">
        <h1 class="titre" id="nomEau"></h1>
    </div>
    <div class="divImgEau">
        <img alt="imageEau" class='imgEau' id="imgEau" />
    </div>
    <div class="containerInfosEau" id="containerInfosEau">
    </div>
    <div id="commentaireEau"></div>
    <!-- Ajout du div "ajouterCommentaire" -->
    <div id="ajouterCommentaire">
        <div class="addCommentaire">
            <!-- Champ de texte pour les commentaires -->
            <input type="text" id="ajoutCommentaire" placeholder="Entrez votre commentaire">

            <!-- Bouton "Ajouter Commentaire" -->
            <button id="ajoutCommentaireBtn" class="btnAjout">Ajouter Commentaire</button>

        </div>
        <div class="addCommentaire">
            <button id="ajoutCommentaireVideo" class="btnAjout">Ajouter Commentaire video</button>
        </div>
        <div class="addCommentaire" id="commentaireVideo"/>
    </div>

</div>